<a href="https://colab.research.google.com/github/eieuk/-/blob/main/%EC%9E%84%EC%A4%80%ED%98%81_1%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
def greet():
    print( "hello world" )

In [96]:
def add(a, b):
  c=a+b
  return c

In [125]:
add(3,5)

8

In [126]:
multiply(3,5)

15

In [118]:
def multiply(a, b):
  c=a*b
  return c

In [17]:
def greet2(name):
  print( '반갑습니다' , name)
  print(name, '님은 파이썬의 세계로 오셨습니다' )
greet2( '임준혁' )

반갑습니다 임준혁
임준혁 님은 파이썬의 세계로 오셨습니다

In [98]:
def adder(num1, num2):
  sum=num1+num2
  print( '덧셈 결과: ', num1 + num2)

In [122]:
adder(10,5)

15

In [123]:
def adder(num1, num2):
  sum=num1+num2
  return sum

In [131]:
result = adder(10,5)

In [130]:
print(sum)

<built-in function sum>

In [89]:
def adder(num1, num2):
  sum=num1+num2
  return sum

In [104]:
  def main():
    print(adder(5,3))
    main()

In [ ]:
max(2,3,4) # 최댓값을 반환한다

In [ ]:
min(2,3,4) # 최솟값을 반환한다

In [ ]:
round(3.51) # 가장 가까운 정수로 근사한다

In [ ]:
round(3.4) # 가장 가까운 정수로 근사한다

In [ ]:
abs(-3) # 절댓값을 반환한다

In [ ]:
pow(2, 3) # 2.0 ** 3.0과 같다

In [105]:
round(3.1234, 2) # 소수점 둘째 자리까지 근사

3.12

In [109]:
result = eval(input("뭐든 넣어요: "))

뭐든 넣어요: 2-4*5+3

In [110]:
result

-15

In [111]:
def greet_three_times():
  print('hi ')
  print('hi ')
  print('hi ')
greet_three_times()

hi
hi
hi

In [113]:
def greet_10(num):
  if (num>0):
    print('hi')
    num=num-1
    greet_10(num)

In [114]:
greet_10(3)

hi
hi
hi

In [ ]:
import random

number_of_trials = 5000000
number0fhits = 0

for i in range(number_of_trials):
  x = random. random() * 2 - 1
  y = random. random() * 2 - 1
  if x * x + y * y <= 1:
     number0fhits += 1

In [ ]:
pi = 4 * number0fhits / number_of_trials

In [ ]:
print("PI는", pi, "입니다.")

In [ ]:
import random

number_of_trials = 5000000 #상수
number0fhits = 0
i=0

In [ ]:
while (i<number_of_trials):
  x = random. random() * 2 - 1
  y = random. random() * 2 - 1
  if x * x + y * y <= 1:
     number0fhits += 1

i=i+1

In [ ]:
pi = 4 * number0fhits / number_of_trials

In [ ]:
print("PI는",pi, "입니다.")

In [ ]:
x=3
y=2
bool(x>y)

In [ ]:
x=3
y=2
bool(x!= y)

In [115]:
x=3
y=2
bool(x==y)

False

In [ ]:
x=3
y=2
bool(x <= y)

In [ ]:
money=2000
if money >= 3000:
  print("택시를 타고 가라")
else:
  print("걸어가라")

In [ ]:
money=20000

In [ ]:
if money >= 3000 or card:
  print("택시를 타고 가라")
else:
  print("걸어가라")

In [ ]:
bool(True or True)

In [ ]:
bool(True or False)

In [ ]:
bool(False or False)

In [ ]:
bool(not True)

In [ ]:
bool(not False

In [ ]:
bool(not (True or False)

In [ ]:
bool((not True) or False)

In [ ]:
bool((not False)or False)

In [ ]:
bool((not False)or False)

In [ ]:
1 in [1, 2, 3]

In [ ]:
1 not in [1, 2, 3]

In [ ]:
pocket=['paper', 'cellphone', 'money']

In [ ]:
if 'money' in pocket:
  print("택시를 타고 가라")
else:
  print("걸어가라")

In [ ]:
pocket=['paper','money','cellphone']
if 'money'in pocket:
  pass
else:
  print("카드를 꺼내라")

In [ ]:
pocket=['paper', 'handphone']
card = True
if 'money' in pocket:
  print("택시를 타고가라")
else:
  if card:
    print("택시를 타고가라")
  else:
    print("걸어가라")